[submodule "cmake/cmake-utils"]
	path = cmake/cmake-utils
	url = https://github.com/compor/cmake-utils.git
[submodule "cmake/sanitizers-cmake"]
	path = cmake/sanitizers-cmake
	url = git://github.com/arsenm/sanitizers-cmake.git
